<div>
    <div class="row">
        <div class="form-group">
            <legend>Add Catalog</legend>
        </div>
        <form ng-model="catalog" ng-submit="addCatalog(catalog)">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name: </label>
                        <div class="col-sm-10">
                            <input type="text" name="" ng-model="catalog.name" class="form-control" value="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Note: </label>
                        <div class="col-sm-10">
                            <!--<input type="richtext" name="" id="input1/(\w+)/\u\1/g" class="form-control" value="" required="required" pattern="" title="">-->
                            <textarea name="" id="txtarea1" ng-model="catalog.note" cols="60" rows="4" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-right">
                    <!--<button ng-click="addCatalog()" type="button" class="text-right btn btn-primary">Submit</button>-->
                    <button type="submit" class="text-right btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>

</div>