<div id="addstudent">
    <div class="row">
        <form action="" method="POST" class="form-horizontal" role="form">
            <div class="form-group">
                <legend>Add Catalog</legend>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="input1/(\w+)/\u\1/g" class="col-sm-2 control-label">Name: </label>
                        <div class="col-sm-10">
                            <input type="text" name="" id="input1/(\w+)/\u\1/g" class="form-control" value="" required="required" pattern="" title="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="input1/(\w+)/\u\1/g" class="col-sm-2 control-label">Note: </label>
                        <div class="col-sm-10">
                            <!--<input type="richtext" name="" id="input1/(\w+)/\u\1/g" class="form-control" value="" required="required" pattern="" title="">-->
                            <textarea name="" id="txtarea1" cols="60" rows="4" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-right">
                    <button style="margin-right:0px;" type="button" class="text-right btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>

</div>