<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a ui-self="course">Course</a></li>
        <li class="breadcrumb-item "><a ui-self="addcourse">Add Course</a></li>
        <li class="breadcrumb-item active">add courseType</li>
    </ol>
    <div class="">
        <h1 style="text-align: center">add new courseType </h1>
        <form class="form-horizontal">

            <!--course name-->
            <div class="form-group">
                <label class="control-label col-sm-3" for="coursetypename">CourseType Name:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="coursetypename">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-8">
                    <button type="submit" class="btn btn-default">Create</button>

                </div>
            </div>
        </form>
    </div>
</div>