<div id="addstudent">
    <div class="row">
        <form name="studentForm" ng-submit="submit(studentForm.$valid)" enctype="multipart/form-data" novalidate class="form-horizontal">
            <div class="form-group">
                <legend>Thêm Sinh viên</legend>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="hccsPid" class="col-sm-2 control-label">HCCS PID</label>
                        <div class="col-sm-10">
                            <input ng-model="student.hccsPid" type="text" name="hccsPid" id="hccsPid" class="form-control" required=""="" value="" title="">
                            <div ng-show="studentForm.$submitted || studentForm.hccsPid.$touched">
                                <div style="color: red" ng-show="studentForm.hccsPid.$error.required">This field can not be null.</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="hccsEmpid" class="col-sm-2 control-label">HCCS EMID</label>
                        <div class="col-sm-10">
                            <input ng-model="student.hccsEmpid" type="text" name="hccsEmpid" id="hccsEmpid" required=""="" class="form-control" value="" title="">
                            <div ng-show="studentForm.$submitted || studentForm.hccsEmpid.$touched">
                                <div style="color: red" ng-show="studentForm.hccsEmpid.$error.required">This field can not be null.</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="catalog" class="col-sm-2 control-label">CATALOG</label>
                        <div class="col-sm-10">
                            <select name="catalog" id="catalog" ng-options="option.name for option in catalogs.availableOptions track by option.id" ng-model="catalogs.selectedOption" required="" class="form-control">
                            </select>
                            <div style="color: red" ng-show="(studentForm.catalog.$invalid && studentForm.catalog.$touched) || (studentForm.catalog.$invalid && studentForm.$submitted)">Catalog is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!--ng-model="student.image"-->

                    <!--<img src="images/kt.jpg" class="upload img-responsive" alt="Image">
                    <input type="file" name="avatar" />-->
                    <button ngf-select="uploadFiles($files, $invalidFiles)" multiple accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
      Select Files</button>

                    <button ng-click="startUpload()" type="button" class="btn btn-info">Start Upload</button>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input ng-model="student.name" type="text" name="name" id="name" class="form-control" required="" value="" title="">
                            <div ng-show="studentForm.$submitted || studentForm.name.$touched">
                                <div style="color: red" ng-show="studentForm.name.$error.required">This field can not be null.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="placeOfBirth" class="col-sm-2 control-label">Place of Birth</label>
                        <div class="col-sm-10">
                            <input ng-model="student.placeOfBirth" type="text" name="placeOfBirth" id="placeOfBirth" required="" class="form-control" value="" title="">
                            <div ng-show="studentForm.$submitted || studentForm.placeOfBirth.$touched">
                                <div style="color: red" ng-show="studentForm.placeOfBirth.$error.required">This field can not be null.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="birthday" class="col-sm-2 control-label">Birthday</label>
                        <div class="col-sm-10">
                            <input ng-model="student.birthday" type="date" name="" id="birthday" class="form-control" value="" title="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="gender" class="col-sm-2 control-label">Gender:</label>
                        <div class="col-sm-10">
                            <select id="gender" ng-options="option.name for option in genders.availableOptions track by option.id" ng-model="genders.selectedOption" required="" class="form-control">
                                        
                            <div style="color: red" ng-show="(studentForm.gender.$invalid && studentForm.gender.$touched) || (studentForm.gender.$invalid && studentForm.$submitted)">Gender is required</div>
                                        
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="intake" class="col-sm-2 control-label">Intake</label>
                        <div class="col-sm-10">
                            <select name="intake" id="intake" required="" ng-options="option.name for option in intakes.availableOptions track by option.id" ng-model="intakes.selectedOption" class="form-control">
                            
                            </select>
                            <div style="color: red" ng-show="(studentForm.intake.$invalid && studentForm.intake.$touched) || (studentForm.intake.$invalid && studentForm.$submitted)">Intake is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="programe" class="col-sm-2 control-label">Program</label>
                        <div class="col-sm-10">
                            <select name="programe" id="programe" ng-options="option.specName for option in programes.availableOptions track by option.id" ng-model="programes.selectedOption" required="" class="form-control">
                            </select>
                            <div style="color: red" ng-show="(studentForm.programe.$invalid && studentForm.programe.$touched) || (studentForm.programe.$invalid && studentForm.$submitted)">Programe is required</div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="contactPerson" class="col-sm-2 control-label">Contact</label>
                        <div class="col-sm-10">
                            <input ng-model="student.contactPerson" type="text" name="contactPerson" required="" id="contactPerson" class="form-control" value="" title="">
                            <div ng-show="studentForm.$submitted || studentForm.contactPerson.$touched">
                                <div style="color: red" ng-show="studentForm.contactPerson.$error.required">This field can not be null.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="phone" class="col-sm-2 control-label">Phone</label>
                        <div class="col-sm-10">
                            <input ng-model="student.phone" type="text" name="phone" id="phone" required="" class="form-control" value="" title="">
                            <div ng-show="studentForm.$submitted || studentForm.phone.$touched">
                                <div style="color: red" ng-show="studentForm.phone.$error.required">This field can not be null.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input ng-model="student.email" type="email" name="email" required="" id="email" class="form-control" value="" title="">
                            <div ng-show="studentForm.$submitted || studentForm.email.$touched">
                                <span style="color: red" ng-show="studentForm.email.$error.required">Tell us your email.</span>
                                <span style="color: red" ng-show="studentForm.email.$error.email">This is not a valid email.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="personalId" class="col-sm-2 control-label">Personal ID</label>
                        <div class="col-sm-10">
                            <input ng-model="student.personalId" type="number" name="personalId" required="" id="personalId" class="form-control" value="" title="">
                            <div ng-show="studentForm.$submitted || studentForm.personalId.$touched">
                                <span style="color: red" ng-show="studentForm.personalId.$error.required">Tell us your Personal ID.</span>
                                <span style="color: red" ng-show="studentForm.personalId.$error.number">This is not a valid email.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="hoppy" class="col-sm-2 control-label">Hobby</label>
                        <div class="col-sm-10">
                            <input ng-model="student.hobby" type="text" name="" id="bobby" class="form-control" value="" title="">
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label for="address" class="col-sm-2 control-label">Pernament Address</label>
                        <div class="col-sm-10">
                            <select name="" id="address" class="form-control">
                                    <option value="">AN GIANG</option>
                                </select>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <select name="" id="input1/(\w+)/\u\1/g" class="form-control">
                                    <option value="">VIỆT NAM</option>
                                </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label for="postalAddress" class="col-sm-2 control-label">Postal Address</label>
                        <div class="col-sm-10">
                            <select name="" id="postalAddress" class="form-control">
                                    <option value="">AN GIANG</option>
                                </select>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <select name="" id="input1/(\w+)/\u\1/g" class="form-control">
                                    <option value="">VIỆT NAM</option>
                                </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-right">
                <input ui-sref='student' type="submit" class="text-right btn btn-primary" value="Back" />
                <input type="submit" ng-disabled="studentForm.$invalid" class="text-right btn btn-primary" value="Submit" />
            </div>

        </form>
    </div>

</div>