<!--<ol class="breadcrumb">
        <li class="breadcrumb-item"><a ui-self="course" href="#/course">Course</a></li>
        <li class="breadcrumb-item active">courseType</li>
    </ol>-->

<div class="col-sm-offset-3">
    <h1>add new courseType </h1>
</div>
<form class="form-horizontal" ng-submit="addcoursetype(addcourstypeform)" name="addcourstypeform">

    <!--course name-->
    <div class="form-group">
        <label class="control-label col-sm-3" for="coursetypename">CourseType Name</label>
        <div class="col-sm-5">
            <input type="text" ng-model="coursetypename" class="form-control" name="coursetypename" id="coursetypename" ng-pattern="/^[A-Za-z0-9]*$/" ng-trim="true" required>
        </div>
        <div id="" style="color:red">
            <div>
                <span>{{errName}}</span>
            </div>

        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-8">
            <button type="submit" class="btn btn-default">Create</button>

        </div>
    </div>
</form>

<h1>list course type</h1>
<table datatable="ng " class=" table-mc-light-blue table-striped table-bordered ">
    <thead>
        <tr class="success ">
            <th>Course Type Name</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="type in lists ">
            <td>{{type.name}}</td>
        </tr>
    </tbody>
</table>