<!--<ol class="breadcrumb">
        <li class="breadcrumb-item"><a ui-self="course" href="#/course">Course</a></li>
        <li class="breadcrumb-item active">courseType</li>
    </ol>-->
<!--form add courseType-->
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addCourseTypeModal">Add <i class="fa fa-plus-circle"></i></button>

<form class="form-horizontal" ng-submit="addcoursetype(addcourstypeform)" name="addcourstypeform">
    <div class="modal fade" id="addCourseTypeModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close danger" data-dismiss="modal" style="color:white;opacity: 1">&times;</button>
                    <h4 class="modal-title">Add new Course Type</h4>
                </div>
                <div class="modal-body">
                    <input type="text" ng-model="coursetype.name" class="form-control" name="coursetypename" id="coursetypename" ng-trim="true" ng-pattern="/^[A-Z a-z0-9]*$/" required>
                    <p class="error" style="color:red"></p>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default">Create</button>
                </div>
            </div>

        </div>
    </div>
</form>

<!--update form-->
<form class="form-horizontal" ng-submit="Updatecoursetype(coursetype.name)" name="updatecourstypeform">
    <div class="modal fade" id="updateCourseTypeModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close danger" data-dismiss="modal" style="color:white;opacity: 1">&times;</button>
                    <h4 class="modal-title">updateCourseType</h4>
                </div>
                <div class="modal-body">
                    <input type="text" ng-model="coursetype.name" class="form-control" name="coursetypename" ng-trim="true" requiredng-pattern="/^[A-Z a-z0-9]*$/">
                    <p class="error" style="color:red"></p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default">Update</button>
                </div>
            </div>

        </div>
    </div>
</form>

<h1>list course type</h1>
<table datatable="ng " class=" table-mc-light-blue table-striped ">
    <thead>
        <tr class="success ">
            <th>Course Type Id</th>
            <th>Course Type Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="type in coursetypes ">
            <td>{{type.id}}</td>
            <td>{{type.name}}</td>
            <td>

                <button class="btn btn-default" data-toggle="modal" data-target="#updateCourseTypeModal" ng-click="showFormUpdate(type.id)"><i class="fa fa-edit"></i></button>
                <button class="btn btn-danger" ng-click="deleteCoursetype(type.id)"><i class="fa fa-trash-o"></i></button>
            </td>
        </tr>
    </tbody>
</table>