<div>
    <div class="row">
        <button ng-click="createCourse()" type="button" class="btn btn-primary btn-sm">Add <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
    </div>

    <div>
        <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" dt-column-defs="dtColumnDefs" class="table table-responsive row-border hover">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Catalog</th>
                    <th>Note</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="course in courses">
                    <td>{{ course.id }}</td>
                    <td>{{ course.codeName}}</td>
                    <td>{{ course.codeNumber}}</td>
                    <td>#</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>