<div>
    <div class="row">

        <button ng-click="createPrograme()" type="button" class="btn btn-primary btn-sm">Add</button>

    </div>
    <div>
        <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" dt-column-defs="dtColumnDefs" class="table table-responsive row-border hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Spec Code</th>
                    <th>Spec Name</th>
                    <th>R.Credits</th>
                    <th>E.Credits</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in programes">
                    <td>{{ p.id }}</td>
                    <td>{{ p.specCode}}</td>
                    <td>{{ p.specName}}</td>
                    <td>{{ p.rCredit}}</td>
                    <td>{{ p.eCredit}}</td>
                    <td>#</td>
                </tr>
            </tbody>
        </table>
    </div>



</div>