<div>
    <div class="row">

        <button ui-sref="addstudent" type="button" class="btn btn-primary">Add</button>

    </div>
    <div>
        <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" dt-column-defs="dtColumnDefs" class="row-border hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="post in posts">
                    <td>{{ post.id }}</td>
                    <td>{{ post.firstName}}</td>
                    <td>{{ post.lastName}}</td>
                    <td>#</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>