<h1>This is the student page</h1>

<!--<div class="row">
    <div class="col-lg-9">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>OrderNumber</th>
                        <th>Fullname</th>
                        <th>Date of Birth</th>
                        <th>Detail</th>
                    </tr>
                </thead>
                <tbody></tbody>
                    <tr></tr>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-primary btn-lg" type="button">
                            <i class="glyphicon glyphicon-edit"></i>
                                </button>
                        <button class="btn btn-danger btn-lg" type="button">
                            <i class="glyphicon glyphicon-remove"></i>
                                </button>
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>-->