<div>
    <div class="row">

        <button ui-sref="addstudent" type="button" class="btn btn-primary btn-sm">Add <i class="fa fa-plus-circle"></i></button>

    </div>
    <div>
        <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" dt-column-defs="dtColumnDefs" class="table table-responsive row-border hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Hành động</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="s in students">
                    <td>{{ s.id }}</td>
                    <td>{{ s.name}}</td>
                    <td ng-if="s.gender">Nữ</td>
                    <td ng-if="!s.gender">Nam</td>
                    <td>{{ s.email}}</td>
                    <td>#</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>